version: '3.7'

services:
  db:
    container_name: kitodo-presentation-db
    image: mariadb:10
    environment:
      - MARIADB_DATABASE=typo3-dfgviewer-v5-ocr
      - MARIADB_ROOT_PASSWORD=$MARIADB_ROOT_PASSWORD
      - MARIADB_USER=$MARIADB_USER
      - MARIADB_PASSWORD=$MARIADB_PASSWORD
    #volumes:
    #  - ./volumes/database:/var/lib/mysql
    restart: unless-stopped
  main:
    build: .
    image: kitodo/dfgviewer:5.3-ocr-221101
    container_name: kitodo-presentation-main
    ports:
      - "0.0.0.0:$PORT:80"
    environment:
      - DB_ADDR=db
      - DB_PORT=3306
      - DB_NAME=typo3-dfgviewer-v5-ocr
      - DB_USER=$MARIADB_USER
      - DB_PASSWORD=$MARIADB_PASSWORD
      - TYPO3_ADMIN_USER=$TYPO3_ADMIN_USER
      - TYPO3_ADMIN_PASSWORD=$TYPO3_ADMIN_PASSWORD
      - TYPO3_ADDITIONAL_CONFIGURATION=$TYPO3_ADDITIONAL_CONFIGURATION
      - HOST=$FullyQualifiedDomainName
    volumes:
      - ./volumes/fileadmin:/var/www/typo3/public/fileadmin/
    depends_on:
      - db
      - solr
    restart: unless-stopped
  solr:
    container_name: kitodo-presentation-solr
    image: solr:8
    ports:
      - "0.0.0.0:8983:80"
    restart: unless-stopped
