services:
  db:
    container_name: kitodo-presentation-db
    image: mariadb:10
    environment:
      - MARIADB_DATABASE=typo3-presentation
      - MARIADB_ROOT_PASSWORD=$MARIADB_ROOT_PASSWORD
      - MARIADB_USER=$MARIADB_USER
      - MARIADB_PASSWORD=$MARIADB_PASSWORD
    #volumes:
    #  - ./volumes/database:/var/lib/mysql
    restart: unless-stopped
  main:
    build:
      context: .
      args:
        - PHP_MEMORY_LIMIT=$PHP_MEMORY_LIMIT
    image: kitodo/presentation
    container_name: kitodo-presentation-main
    hostname: $PQDN
    ports:
      - "0.0.0.0:$PORT:80"
    environment:
      - DB_ADDR=db
      - DB_PORT=3306
      - DB_NAME=typo3-presentation
      - DB_USER=$MARIADB_USER
      - DB_PASSWORD=$MARIADB_PASSWORD
      - TYPO3_ADMIN_USER=$TYPO3_ADMIN_USER
      - TYPO3_ADMIN_PASSWORD=$TYPO3_ADMIN_PASSWORD
      - TYPO3_ADDITIONAL_CONFIGURATION=$TYPO3_ADDITIONAL_CONFIGURATION
      - HOST=$PQDN
      - PORT=$PORT
    volumes:
      - ./volumes/fileadmin:/var/www/typo3/public/fileadmin/
    depends_on:
      - db
    restart: unless-stopped
  solr:
    container_name: kitodo-presentation-solr
    image: solr:8
    environment:
      # All vars: /etc/default/solr.in.sh
      - SOLR_OPTS=-XX:-UseLargePages #Fixes JVM out of memory error
    command: solr-precreate dlf /var/solr/data/configsets/dlf
    volumes:
      - ./volumes/solr/solrconfig/dlf:/var/solr/data/configsets/dlf
      - ./volumes/solr/plugin:/opt/solr/contrib/ocrsearch/lib/
      # - ./volumes/solr/solrdata:/var/solr
    ports:
      - "0.0.0.0:8983:8983"
    restart: unless-stopped
    profiles:
      - with-solr
